---
---
    <div>
        
        Felix Braun
        
    <a href="">Projects</a>
    
    </div>
    
<style> 

    div {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        justify-content: space-between
    }

</style>