---
---
    <div>

            Felix Braun
        <div>
            <a href="">Projects</a>
            <a href="">Projects</a>
        </div>
    </div>

<style> 

    div {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        justify-content: space-between
    }

    a {
        margin-left: 10px;
    }

</style>