---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<img src="src/static/github-mark.svg"/>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
    }

    img {
      width: 2.5rem;
      transition: all 200ms ease;
      transform: scale(1);
    }
    
    img:hover {
      transform: scale(1.1);
    }

  </style>